<ion-view title="Cake Translate">

  <ion-content class="padding" style="background-color: #E6EDE7">

  <div ng-show="false">
    <form method="post" action="https://cake-translate.eu-gb.mybluemix.net/uploadpic" enctype="multipart/form-data">
      <input browser-upload-fallback-element="" style="display:none;" ng-model="pic" type="file" file-change="selectPictureInBrowser($event, files)">
    </form>
  </div>

  <div class="row bs-row button-large-div">
    <button type="file" class="col-xs-5 button button-energized button-large" ng-click="selectPicture(true)">
      <span class="fa fa-camera-retro fa-3x"></span>
    </button>
    <button type="file" class="col-xs-5 button button-energized button-large" ng-click="selectPicture(false)">
      <span class="fa fa-picture-o fa-3x"></span>
    </button>
  </div>

  <!-- gespeicherte Sets -->
  <div>
    <ul class="list-without-bullets setlist">
      <li class="singleset" ng-repeat="row in storage.imageWordPairs">
        <a class="img-div" ui-sref="single({ indexCurrItem: $index})" style="display: block">
          <img ng-src="data:image/jpeg;base64,{{ row.doc._attachments.file.data }}" class="selPicture">
        </a>
        <ion-list class="list-inset">
          <ion-item class="" ng-repeat="word in row.doc.words | orderBy:&apos;-label_score&apos; | limitTo: 3 ">
            {{word.label_name}} ({{word.label_score*100 | limitTo:2}}%)
            <a href="" class="fa fa-volume-up fa-lg" ng-click="audio(word.label_name)" style="float:right; vertical-align:middle"></a>
          </ion-item>
        </ion-list>

      </li>
    </ul>
  </div>


  {{ error }}

  </ion-content>

</ion-view>
