<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- bower components -->
    <script src="bower_components/ngCordova/dist/ng-cordova.min.js"></script>
    <script src="bower_components/pouchdb/dist/pouchdb.min.js"></script>
    <script src="bower_components/blob-util/dist/blob-util.min.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/directives/file-change.js"></script>
    <script src="js/directives/browser-upload-fallback.js"></script>

  </head>
  <body ng-app="cake-translate" ng-cloak="">

    <ion-pane ng-controller="MainCtrl">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Cake Translate</h1>
      </ion-header-bar>
      <ion-content class="padding">

        <!-- deviceInformation - {{deviceInformation}} <br>
        userAgent - {{userAgent}}<br>
        isBrowser - {{isBrowser}}<br>
        isWebView - {{isWebView}}<br>
        isIPad - {{isIPad}}<br>
        isIOS - {{isIOS}}<br>
        isAndroid - {{isAndroid}}<br>
        isWindowsPhone - {{isWindowsPhone}}<br>
        currentPlatform - {{currentPlatform}}<br>
        currentPlatformVersion - {{currentPlatformVersion}}<br> -->

        {{ log }}


        <div ng-show="false">
          <form method="post" action="https://cake-translate.eu-gb.mybluemix.net/uploadpic" enctype="multipart/form-data">
            <input browser-upload-fallback-element="" style="display:none;" ng-model="pic" type="file" file-change="selectPictureInBrowser($event, files)">
          </form>
        </div>

        <div>
          <button type="file" class="button button-energized button-block" ng-click="selectPicture(false)">Select Picture</button>
          <button type="file" class="button button-energized button-block" ng-click="selectPicture(true)">Take new Picture</button>
          <button type="file" class="button button-energized button-block" ng-click="saveImageWordsPair()">Set speichern</button>
          <button type="file" class="button button-energized button-block" ng-click="loadAllImageWordsPairs()">alle Sets laden</button>

        </div>

        <div>
          Bildgroesse: {{ imageSize }}
          <img ng-src="{{ pic }}" class="selPicture" style="max-width:100%">
        </div>

        <ion-list class="list-inset">
          <ion-item ng-repeat="result in results">{{ result.label_source }} {{ result.label_name }} ({{ result.label_score }})</ion-item>
        </ion-list>

        <!-- <ion-list class="list-inset"> -->
          <ion-item ng-repeat="row in allPairs">
            <img ng-src="data:image/jpeg;base64,{{ row.doc._attachments.file.data }}" class="selPicture" style="max-width:100%">
            <ion-list class="list-inset">
              <ion-item ng-repeat="word in row.doc.words track by $index">{{ word.label_source }} {{word.label_name}} ({{word.label_score}})</ion-item>
            </ion-list>
            <button type="file" class="button button-energized button-block" ng-click="removeImageWordsPair($index, row)">gespeichertes Set l&#xF6;schen</button>
          </ion-item>
        <!-- </ion-list> -->

        {{ error }}

      </ion-content>
    </ion-pane>
  </body>
</html>
