<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/ng-cordova.min.js"></script>
    <script src="js/app.js"></script>
    <script src="js/directives/file-change.js"></script>
    <script src="js/directives/browser-upload-fallback.js"></script>
  </head>
  <body ng-app="cake-translate" ng-cloak="">

    <ion-pane ng-controller="MainCtrl">
      <ion-header-bar class="bar-stable">
        <h1 class="title">Cake Translate</h1>
      </ion-header-bar>
      <ion-content class="padding">

        <!-- deviceInformation - {{deviceInformation}} <br>
        userAgent - {{userAgent}}<br>
        isBrowser - {{isBrowser}}<br>
        isWebView - {{isWebView}}<br>
        isIPad - {{isIPad}}<br>
        isIOS - {{isIOS}}<br>
        isAndroid - {{isAndroid}}<br>
        isWindowsPhone - {{isWindowsPhone}}<br>
        currentPlatform - {{currentPlatform}}<br>
        currentPlatformVersion - {{currentPlatformVersion}}<br> -->


        <div ng-show="false">
          <form method="post" action="https://cake-translate.eu-gb.mybluemix.net/uploadpic" enctype="multipart/form-data">
            <input browser-upload-fallback-element="" style="display:none;" ng-model="pic" type="file" file-change="selectPictureInBrowser($event, files)">
          </form>
        </div>

        <div>
          <button type="file" class="button button-energized button-block" ng-click="selectPicture()">Select Picture</button>
        </div>

        <div>
          <img ng-src="{{ pic }}" class="selPicture" style="max-width:100%">
        </div>

        <ion-list class="list-inset">
          <ion-item ng-repeat="result in results">{{ result.label_name }} ({{ result.label_score }})</ion-item>
        </ion-list>

      </ion-content>
    </ion-pane>
  </body>
</html>
