.button-large {
  padding-top: 6px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  text-align: center;
}

.button-small {
  padding: 0px;
}

.button-large-div {
  text-align: center;
  margin-left: 15px;
}

.button-multiple-in-row {
  display: flex;
  justify-content: space-between;
}

.selPicture {
    max-width:100%;
    max-height:50%;
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.list-without-bullets {
  list-style-type: none;
  padding: 0px;
}

.bs-row {
  width: auto;
  display: block;
  padding: 0;
}

.setlist {
  border-top: 3px solid gray;
  margin-top: 20px;
}
.setlist .singleset {
  /*border-bottom: 1px solid gray;*/
  padding-top: 10px;
  padding-bottom: 10px;
}

.span-one-row {
  padding-right: 5px;
  white-space: nowrap;
  overflow: hidden;;
  text-overflow: ellipsis;
}

.div-alignment-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.div-padding-left-null {
  padding-left: 0px;
}

.img-wrap {
  position: relative;
}
.img-wrap .close {
  position: absolute;
  top: -5px;
  left: 10px;
  z-index: 100;
  /*background: white;*/
  color: #B52209;
  opacity: inherit;
}

.img-div {
  padding: 0px;
  margin-left: 1px;
  margin-right:1px;
  background-color: white
}
